:root {
    --first: #2D4F2B;
    --second: #708A58;
    --third: #FFB823;
    --fourth: #FFF1CA;
    overscroll-behavior:none;
}

body {
    margin:0px;
    background:var(--first);
    color:var(--fourth);
}

:is(p, ul, ol, a, button, img) {
    font-size:2.75vw;
}

h1 {
    font-size:5.5vw;
}

h2 {
    font-size:4.5vw;
}

h3 {
    font-size:3.5vw;
}

h4 {
    font-size:3vw;
}

.svg-layer{
    position:relative;
    z-index:-1;
    width:80vw;
    top:1vw;
    height: calc(450px * 100vw / 1100px);
    left: calc((20vw) / 2);
    .layer{
        width:100%;
        position:absolute;
        z-index:-1;
    }
}

.centered {
    text-align:center;
}

.thickmargin {
    padding:2vw;
}

.navbar {
    width:100vw;
    z-index: 1;
}

:not(.svglayers) {
    z-index:0;
}

.banner {
    width:30vw;
    padding-left:55vw;
    text-align:left;
    z-index:2;
    top:5vw;
    /* background-color:var(--first); */
    display:none;
    position:relative;
    color:var(--third)
}

.content {
    position:relative;
    background:var(--first);
    color:var(--fourth);
    top: calc(400 * 100vw / 1100);
}